<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>网站登录</title>
  <link rel="stylesheet" href="__ROOT__static/assets/css/amazeui.css" />
  <link rel="stylesheet" href="__ROOT__static/assets/css/other.min.css" />
</head>
<body class="login-container">
  <div class="login-box">
    <div class="logo-img">
      网站登录
    </div>
    <form action="__ROOT__index/Login/login/" method="post" class="am-form" data-am-validator>
      <div class="am-form-group">
        <label for="doc-vld-name-2"><i class="am-icon-user"></i></label>
        <input type="email" name="email"  id="doc-vld-name-2" minlength="3" placeholder="输入邮箱" required/>
      </div>

      <div class="am-form-group">
        <label for="doc-vld-email-2"><i class="am-icon-key"></i></label>
        <input name="password" type="password" id="doc-vld-email-2" placeholder="输入密码" required/>
      </div>
      <button class="am-btn am-btn-secondary"  type="submit">登录</button>
    </form>
  </div>
</body>
</html>
