 {layout name="layout" title="新闻中心" /}
    <!--===========layout-container================-->
    <div class="layout-container">
      <div class="page-header">
        <div class="am-container">
          <h1 class="page-header-title">新闻中心</h1>
        </div>
      </div>

      <div class="breadcrumb-box">
        <div class="am-container">
          <ol class="am-breadcrumb">
            <li><a href="__ROOT__index/index">首页</a></li>
            <li class="am-active">新闻中心</li>
          </ol>
        </div>
      </div>
    </div>

    <div class="section">
      <div class="container">
        <div class="section--header">
					<h2 class="section--title">Latest News</h2>
					<p class="section--description">
						云适配与中建材信息技术股份有限公司（以下简称“中建信息”）联合举办的“战略
						<br>合作签约仪式暨全国跨屏行动启动大会”在北京成功举办。
					</p>
				</div>

        <div class="news-contaier">
          <div class="blog">
            <div class="am-g">
            
 			{foreach $list as $vo}
              <div class="am-u-lg-4 am-u-md-6  am-u-end">
                <div class="article">
                  <div class="article-img">
                    <img src="{$vo.cover_pic}" width="360px" height="220px" alt="" />
                  </div>
                  <div class="article-header">
                    <h2><a href="#" rel="">{$vo.title}</a></h2>
                    <ul class="article--meta">
											<li class="article--meta_item -date">{$vo.create_time|date}</li>
											<li class="article--meta_item comments"> Comments</li>
										</ul>
                  </div>
                  <div class="article--content">
										<p>{$vo.content|strip_tags|mb_substr=###,0,36,'utf-8'}</p>
									</div>
                  <div class="article--footer">
  									<a href="#" class="link">Read More</a>
  								</div>
                </div>
              </div>
        	{/foreach}       
              
            </div>





            <!-- pagination-->
            <div id="new_page">
			{$list->render()}
			</div>
          </div>

        </div>
      </div>
    </div>
<script type="text/javascript">
window.onload=function(){
	  $('.pagination').removeClass().addClass("am-pagination"); ;
} 
</script>
