<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{$settingInfo.web_title}-{$settingInfo.web_name}</title>
  <link rel="stylesheet" href="__ROOT__static/assets/css/amazeui.css" />
  <link rel="stylesheet" href="__ROOT__static/assets/css/common.min.css" />
  
  <!-- 不同的控制器访问不同的css -->
  <link rel="stylesheet" href="__ROOT__static/assets/css/about.min.css" /><!--关于我们  -->
  <link rel="stylesheet" href="__ROOT__static/assets/css/index.min.css" /><!--首页-->
  
  <link rel="stylesheet" href="__ROOT__static/assets/css/other.min.css" /><!--登录注册-->
  
  <link rel="stylesheet" href="__ROOT__static/assets/css/join.min.css" /><!--加入我们-->
  
  <link rel="stylesheet" href="__ROOT__static/assets/css/news.min.css" /><!--新闻中心-->
  
  <link rel="stylesheet" href="__ROOT__static/assets/css/example.min.css" /><!--客户案例-->
  
  <link rel="stylesheet" href="__ROOT__static/assets/css/solution.min.css" /><!--解决方案-->
</head>
<body>
  <div class="layout">
    <!--===========layout-header================-->
    <div class="layout-header am-hide-sm-only">
      <!--topbar start-->
      <div class="topbar">
        <div class="container">
          <div class="am-g">
            <div class="am-u-md-3">
              <div class="topbar-left">
                <i class="am-icon-globe"></i>
                <div class="am-dropdown" data-am-dropdown>
                  <button class="am-btn am-btn-primary am-dropdown-toggle" data-am-dropdown-toggle>Language <span class="am-icon-caret-down"></span></button>
                  <ul class="am-dropdown-content">
                    <li><a href="#">English</a></li>
                    <li class="am-divider"></li>
                    <li><a href="#">Chinese</a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="am-u-md-9">
              <div class="topbar-right am-text-right am-fr">
              {if condition="$isLogin eq 1"}
               {$Think.session.username}
               <a href="__ROOT__Index/Login/logout">退出</a>
              {else/}
                <a href="__ROOT__Index/Login/login">登录</a>
                <a href="__ROOT__Index/Login/register">注册</a>
              {/if}
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--topbar end-->

      <div class="header-box" data-am-sticky>
        <!--header start-->
          <div class="container">
            <div class="header">
              <div class="am-g">
                <div class="am-u-lg-2 am-u-sm-12">
                  <div class="logo">
                    <a href=""><img src="__ROOT__static/assets/images/logo.png" alt="" /></a>
                  </div>
                </div>
                <div class="am-u-md-10">
                  <div class="header-right am-fr">
                    <div class="header-contact">
                      <div class="header_contacts--item">
  											<div class="contact_mini">
  												<i style="color:#7c6aa6" class="contact-icon am-icon-phone"></i>
  												<strong>0 (123) 123-123</strong>
  												<span>周一~周五, 8:00 - 20:00</span>
  											</div>
  										</div>
                      <div class="header_contacts--item">
  											<div class="contact_mini">
  												<i style="color:#7c6aa6" class="contact-icon am-icon-envelope-o"></i>
  												<strong>test@test.com</strong>
  												<span>随时欢迎您的来信！</span>
  											</div>
  										</div>
                      <div class="header_contacts--item">
  											<div class="contact_mini">
  												<i style="color:#7c6aa6" class="contact-icon am-icon-map-marker"></i>
  												<strong>天使大厦,</strong>
  												<span>海淀区海淀大街27</span>
  											</div>
  										</div>
                    </div>
                    <a href="__ROOT__index/contact/index" class="contact-btn">
                      <button type="button" class="am-btn am-btn-secondary am-radius">联系我们</button>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <!--header end-->


        <!--nav start-->
        <div class="nav-contain">
          <div class="nav-inner">
            <ul class="am-nav am-nav-pills am-nav-justify">
              <li class=""><a href="__ROOT__index/">首页</a></li>
              <li>
                <a href="#">产品中心</a>
                <!-- sub-menu start-->
                <ul class="sub-menu">
									<li class="menu-item"><a href="__ROOT__index/product/1">产品展示11</a></li>
									<li class="menu-item"><a href="__ROOT__index/product/2">产品展示2</a></li>
									<li class="menu-item"><a href="__ROOT__index/product/3">产品展示3</a></li>
								</ul>
                <!-- sub-menu end-->
              </li>
              <li><a href="__ROOT__index/example/index">客户案例</a></li>
              <li><a href="__ROOT__index/solution/index">解决方案</a></li>
              <li>
                <a href="__ROOT__index/news/index">新闻中心</a>
                <!-- sub-menu start-->
                <ul class="sub-menu">
									<li class="menu-item"><a href="__ROOT__index/news-content.html">公司动态</a></li>
									<li class="menu-item"><a href="__ROOT__index/404-dark.html">行业动态</a></li>
									<li class="menu-item"><a href="__ROOT__index/404-light.html">精彩专题</a></li>
								</ul>
                <!-- sub-menu end-->
              </li>
              <li><a href="__ROOT__index/about/index">关于我们</a></li>
              <li><a href="__ROOT__index/join/index">加入我们</a></li>
              <li class="a:active"><a href="__ROOT__index/contact/index">联系我们</a></li>
            </ul>
          </div>
        </div>
        <!--nav end-->
      </div>

    </div>
    <!--mobile header start-->
    <div class="m-header">
      <div class="am-g am-show-sm-only">
        <div class="am-u-sm-2">
          <div class="menu-bars">
            <a href="#doc-oc-demo1" data-am-offcanvas="{effect: 'push'}"><i class="am-menu-toggle-icon am-icon-bars"></i></a>
            <!-- 侧边栏内容 -->
            <nav data-am-widget="menu" class="am-menu  am-menu-offcanvas1" data-am-menu-offcanvas >
              <a href="javascript: void(0)" class="am-menu-toggle"></a>

              <div class="am-offcanvas" >
                <div class="am-offcanvas-bar">
                  <ul class="am-menu-nav am-avg-sm-1">
                    <li><a href="__ROOT__index/" class="" >首页</a></li>
                    <li class="am-parent">
                      <a href="#" class="" >产品中心</a>
                      <ul class="am-menu-sub am-collapse ">
                        <li class="">
                          <a href="__ROOT__index/product/1/" class="" >产品展示1</a>
                        </li>
                        <li class="">
                          <a href="__ROOT__index/product/2/" class="" >产品展示2</a>
                        </li>
                        <li class="">
                          <a href="__ROOT__index/product/3/" class="" >产品展示3</a>
                        </li>
                      </ul>
                    </li>
                    <li class=""><a href="__ROOT__index/example/" class="" >客户案例</a></li>
                    <li class=""><a href="__ROOT__index/solution/" class="" >解决方案</a></li>
                    <li class="am-parent">
                      <a href="__ROOT__index/news/index" class="" >新闻中心</a>
                      <ul class="am-menu-sub am-collapse  ">
                        <li class="">
                          <a href="__ROOT__index/news-content/" class="" >公司动态</a>
                        </li>
                        <li class="">
                          <a href="__ROOT__index/404-dark/" class="" >行业动态</a>
                        </li>
                        <li class="">
                          <a href="__ROOT__index/404-light/" class="" >精彩专题</a>
                        </li>
                      </ul>
                    </li>
                    <li class=""><a href="__ROOT__index/about/" class="" >关于我们</a></li>
                    <li class=""><a href="__ROOT__index/join/" class="" >加入我们</a></li>
                    <li class=""><a href="__ROOT__index/contact/" class="" >联系我们</a></li>
                    <li class="am-parent">
                      <a href="__ROOT__index/news/" class="nav-icon nav-icon-globe" >Language</a>
                      <ul class="am-menu-sub am-collapse  ">
                        <li>
                          <a href="#" >English</a>
                        </li>
                        <li class="">
                          <a href="#" >Chinese</a>
                        </li>
                      </ul>
                    </li>
                    <li class="nav-share-contain">
                      <div class="nav-share-links">
                        <i class="am-icon-facebook"></i>
                        <i class="am-icon-twitter"></i>
                        <i class="am-icon-google-plus"></i>
                        <i class="am-icon-pinterest"></i>
                        <i class="am-icon-instagram"></i>
                        <i class="am-icon-linkedin"></i>
                        <i class="am-icon-youtube-play"></i>
                        <i class="am-icon-rss"></i>
                      </div>
                    </li>
                    <li class=""><a href="__ROOT__Index/Login/login" class="" >登录</a></li>
                    <li class=""><a href="__ROOT__Index/Login/register" class="" >注册</a></li>
                  </ul>

                </div>
              </div>
            </nav>

          </div>
        </div>
        <div class="am-u-sm-5 am-u-end">
          <div class="m-logo">
            <a href=""><img src="__ROOT__static/assets/images/logo.png" alt=""></a>
          </div>
        </div>
      </div>
      <!--mobile header end-->
    </div>
