{layout name="layout" title="文章添加" /}
 <form  id="defaultForm" role="form" method="POST"  action="{:url('/admin/article/add/')}">
   <div class="form-group">
    <label for="exampleInputUsername">文章标题：</label>
    <input type="text" class="form-control" value="{present name="data.title"}{$data.title}{/present} " name="title" id="title" placeholder="请输入链接名称">
  </div>
  <div class="form-group">
    <label for="exampleInputEmail">文章分类：</label>
 	<select name="type_id" id="type_id" class="form-control">
 	{foreach $listType as $vo}
 	<OPTION value="{$vo.id}" {present name="data.type_id "}{if condition="$data.type_id eq $vo.id"} selected="selected" {/if}{/present} >{$vo.type_name}</OPTION>
 	{/foreach}
 	</select>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword">文章封面</label>
    <input type="hidden" readonly  name="cover_pic" id="cover_pic" value="{present name="data.cover_pic"}{$data.cover_pic}{/present}">
    <img id="link_add_img" src="{present name="data.cover_pic"}{$data.cover_pic}{/present}"  width="100px" heigth="100px">
    <input type="button" id="selectImg" value="选择图片" />
  </div>
  
  <div class="form-group">
    <label for="exampleInputEmail">文章内容：</label>
 	<TEXTAREA name="content" id="content"  class="form-control">{present name="data.content"}{$data.content}{/present}</TEXTAREA>
  </div>

  <input type="hidden" name="__token__" value="{$Request.token}" />
  <input type="hidden" name="id" id="id" value="{present name="data.id"}{$data.id}{/present}" />
  <button type="submit" class="btn btn-default">提交</button>
  <button type="reset" class="btn btn-default">重置</button>
</form>	

 <!-- 配置文件 -->
<script src="__ROOT__kindeditor/kindeditor-all.js"  type="text/javascript"></script>
<script src="__ROOT__kindeditor/lang/zh-CN.js"  type="text/javascript"></script>
<link rel="stylesheet" href="__ROOT__kindeditor/themes/default/default.css" />
<script>
KindEditor.ready(function(K) {
	editor = K.create('textarea[name="content"]', {
		allowFileManager : true
	});
	K('#selectImg').click(function() {
		editor.loadPlugin('image', function() {
			editor.plugin.imageDialog({
				imageUrl : K('#cover_pic').val(),
				clickFn : function(url, title, width, height, border, align) {
					K('#cover_pic').val(url);
					$('#link_add_img').attr('src',url);
					editor.hideDialog();
				}
			});
		});
	});
	 
});
</script>
 <script type="text/javascript">
$(document).ready(function() {
    $('#defaultForm').bootstrapValidator({
        message: 'This value is not valid',
        feedbackIcons: {
            valid: 'glyphicon glyphicon-ok',
            invalid: 'glyphicon glyphicon-remove',
            validating: 'glyphicon glyphicon-refresh'
        },
        fields: {
        	title: {
                message: 'The title is not valid',
                validators: {
                    notEmpty: {
                        message: '名称必须填写'
                    },
                    stringLength: {
                        min: 2,
                        max: 30,
                        message: '名称最短2个字最长30个字'
                    },
                }
            },
 
            content: {
                message: 'The content is not valid',
                validators: {
                    notEmpty: {
                        message: '内容必须填写'
                    },
                }
            },
        }
    });
});
</script>
